<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="card shadow-lg mb-5">
        <div class="card-header bg-primary text-white py-3">
          <h1 class="h2 mb-0 text-center"><%= @exam.title %></h1>
        </div>
        <div class="card-body p-4">
          <%= form_tag submit_exam_attempt_path(@exam), method: :post do %>
            <% @questions.each_with_index do |question, index| %>
              <div class="card shadow-sm mb-4">
                <div class="card-header bg-light">
                  <h2 class="h5 mb-0">
                    <%= t('.question_number', number: index + 1) %>
                  </h2>
                </div>
                <div class="card-body">
                  <p class="card-text mb-4"><%= question.content %></p>
                  <% case question.question_type %>
                  <% when 'free_text' %>
                    <div class="form-floating">
                      <%= text_area_tag "answers[#{question.id}][content]", nil, class: 'form-control', placeholder: t('.your_answer'), style: 'height: 100px' %>
                      <%= label_tag "answers[#{question.id}][content]", t('.your_answer') %>
                    </div>
                  <% when 'multiple_choice' %>
                    <div class="form-group">
                      <% question.answers.each_with_index do |answer, answer_index| %>
                        <div class="form-check mb-2">
                          <%= check_box_tag "answers[#{question.id}][content][]", answer.id, false, class: 'form-check-input', id: "answer_#{question.id}_#{answer_index}" %>
                          <%= label_tag "answer_#{question.id}_#{answer_index}", answer.content, class: 'form-check-label' %>
                        </div>
                      <% end %>
                    </div>
                  <% when 'single_choice' %>
                    <div class="form-group">
                      <% question.answers.each_with_index do |answer, answer_index| %>
                        <div class="form-check mb-2">
                          <%= radio_button_tag "answers[#{question.id}][content]", answer.id, false, class: 'form-check-input', id: "answer_#{question.id}_#{answer_index}" %>
                          <%= label_tag "answer_#{question.id}_#{answer_index}", answer.content, class: 'form-check-label' %>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>

            <div class="text-center mt-5">
              <%= submit_tag t('.submit_exam'), class: 'btn btn-primary btn-lg px-5 py-3' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>