<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="bi bi-book"></i> Power Solution Challenge
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="<%= t('hello') %>">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link" href="#"><%= t('home.welcome', email: current_user.email) %></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= t('home.options') %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if current_user.has_role?(:admin) || current_user.has_role?(:manager) %>
                <li>
                  <%= link_to t('home.exam_results'), exam_results_path, class: "dropdown-item" %>
                </li>
                <li><hr class="dropdown-divider"></li>
              <% end %>
              <li>
                <%= button_to t('home.logout'), destroy_user_session_path, method: :delete, class: "btn btn-link" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to t('home.login'), new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t('home.signup'), new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
